h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.5rem; /* 40px */
    font-weight: 300; /* Lighter font weight for a modern look */
    color: #3d3b3b; /* Deep gray for text */
    text-align: center;
    margin-bottom: 1rem; /* 16px */
    letter-spacing: -1px; /* Slightly tighter letter spacing */
    line-height: 1.2; /* Adjust line height for better readability */
    text-transform: uppercase; /* Optional: Adds formality */
    text-shadow: 1px 1px 0px #eee; /* Subtle shadow for depth - can be adjusted or removed */
  }
  

.login-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .login-container h1, .login-container h2 {
    color: #333;
  }
  
  .login-container p {
    color: #666;
  }
  

  .login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
  
  