/* AdminWaivers.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: salmon; /* Set the background color to salmon */
    color: black; /* Set the font color to black */
    width: 300px; /* Set a fixed width for a square shape */
    height: 300px; /* Set a fixed height for a square shape */
    padding: 20px;
    border-radius: 0; /* Set to 0 for square edges, or you can remove this line entirely */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1001;
  }
  
  
  
  
  
  
  
  .document-list{
    color:black
  }
  
  
  
  /* You can add more styles as needed */
  
  
  .pdf-viewer iframe {
    border: none;
  }
  
  .rectangle {
    width: 100%;
    height: 500px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 20px;
  }
  
  