/* styles.css */
.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #FFFFFF; /* Set the background color to white */
  }
  
  .header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    flex: 0 0 auto;
    font-family: Newsreader;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5em;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #000000;
    padding: 10px;
    margin-left: 20px;
  }
  
  .nav-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
  }
  
  .nav-links a {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 130%;
    color: #000000;
    margin-right: 20px;
  }
  
  .cartButtonStyle {
    position: absolute;
    width: 100px;
    height: 40px;
    right: 10px;
    top: 10px;
    background: #426B1F;
    border-radius: 8px;
    display: flex;
    align-Items: center;
    justify-Content: center;
  }

  .buttonTextStyle{
    font-Family: Inter;
    font-Style: normal;
    font-Weight: 600;
    font-Size: 1em;
    line-Height: 130%;
    color: #FFFFFF;
    padding: 10px 20px;
  }
  
  
  