

.login-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
  }
  
  .login-title {
    position: absolute;
    width: 505px;
    height: 63px;
    left: 15%;
    transform: translateX(-50%);
    top: 136px;
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #426b1f;
  }
  
  .input-container {
    position: absolute;
    font-family: 'Jacques Francois';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #000000;
  }
  
  .input-container input {
    margin-left: 10px;
  }
  
  .username-container {
    width: 125px;
    height: 37px;
    left: 10px;
    top: 242px;
  }
  
  .password-container {
    width: 125px;
    height: 43px;
    left: 10px;
    top: 295px;
  }
  
  .login-button {
    position: absolute;
    width: 94px;
    height: 30px;
    left: 380px;
    top: 450px;
    background: #426b1f;
    border-radius: 8px;
    color: white; /* Set text color to white */
    font-family: 'Jacques Francois'; /* Set font family */
  }
  
  
  .user-type-button {
    width: 94px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: #ffffff;
  }
  
  .student-button {
    position: absolute;
    left: 40px;
    top: 381px;
    background: #c5be1e;
  }
  
  .admin-button {
    position: absolute;
    left: 160px;
    top: 381px;
    background: #0500fd;
  }
  
  .parent-button {
    position: absolute;
    left: 280px;
    top: 381px;
    background: #fa00ff;
  }
  
  .error-message {
    position: absolute;
    top: 500px;
    left: 20%;
    transform: translateX(-50%);
    color: red;
  }
  

  