
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  padding: 20px; /* Add padding for smaller screens */
}

.login-title {
  font-family: 'Arial', sans-serif; /* Fallback to a web-safe font */
  font-size: 48px;
  color: #426b1f;
  margin-bottom: 40px; /* Space between title and form */
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Take full width of the parent container */
  max-width: 400px; /* Maximum width */
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0; /* Space between inputs */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button, .user-type-button {
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: auto; /* Allow button width to grow with text */
  margin: 10px; /* Space around buttons */
}

.login-button {
  background: #426b1f;
}

.student-button, .admin-button, .parent-button {
  background: #c5be1e; /* Student */
  width: 300px;
}

.admin-button {
  background: #0500fd; /* Admin */
}

.parent-button {
  background: #fa00ff; /* Parent */
}


.error-message {
  color: red;
  text-align: center; /* Center the text */
  width: 100%;
  max-width: 400px; /* Match the input container width */
}
