/* Main body and overall layout */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styling for parent login container */
  .parent-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Adjust start for top alignment */
    max-width: 600px;
    margin: 40px auto; /* Centering in the viewport with top margin */
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  /* Headings within the parent login container */
  .parent-login-container h1 {
    font-size: 2rem;
    color: #426b1f;
    margin: 0.5rem 0;
  }
  
  /* Paragraphs for additional information */
  .parent-login-container p {
    color: #666;
    font-size: 1rem;
  }
  
  /* Input fields styling for login form */
  .parent-login-container input {
    width: calc(100% - 20px); /* Accounting for padding */
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 20px; /* Rounded edges for inputs */
    box-sizing: border-box;
  }
  
  /* Button styling for parent login */
  .parent-login-container button {
    padding: 10px 20px;
    margin: 10px 5px; /* Spacing around buttons */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px; /* More pronounced rounded corners */
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .parent-login-container button:hover {
    background-color: #0056b3;
  }
  
  /* Error message styling for parent login */
  .parent-login-container .error-message {
    color: #ff0000;
    background-color: #ffecec;
    border: 1px solid #ff0000;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    width: calc(100% - 40px); /* Adjusted to fit within container padding */
  }
  