/* styles.css */

.parent-login-container {
  background-color: #f7f7f7; /* Light gray background color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #ccc; /* Border color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  padding: 100px; /* Add padding to create space around the content */
}

.parent-login-title {
  font-family: Arial, sans-serif; /* Set font family to Arial */
  font-size: 36px; /* Increase font size to 36px */
  color: #426b1f; /* Change text color to black */
  margin-top: 40px; /* Add margin to the top to lower the text */
  margin-bottom: 20px; /* Add margin to the bottom for spacing */
  text-align: center; /* Center-align the text */
}

.parent-login-description{
  font-family: Arial, sans-serif; /* Set font family to Arial */
  color: black;
  text-align: center;
}

.login-input {
  width: 100%;
  padding: 10px;
   margin: 10px 0; /* Space between inputs */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button-container {
  text-align: center;
}

.login-button {
  text-align: center;
  width: 150px;
}

.login-message {
  /* Add styles for the login message */
  color: red;
}

.username-css{
  color:black;

}

.password-css{
  color:black;
}

.welcome-text{
  color:black;
  font-family: Inter;
  font-style: normal;
  text-align: center; /* Center text within button */
}




.community-button {
  font-family: Inter;
  font-style: normal;
  background-color: #8A9A5B; /* Mossy green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding around text */
  margin: 10px 0; /* Adds space between buttons */
  border: none; /* No border */
  border-radius: 5px; /* Slightly rounded edges */
  text-align: center; /* Center text within button */
  display: block; /* Display as a block to fill the container width */
  font-size: 16px; /* Size of the text */
  cursor: pointer; /* Change mouse cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
  text-decoration: none; /* Remove underline from links if buttons are <a> tags */
  width: 80%; /* Width of button, adjust as needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.community-button:hover {
  background-color: #768948; /* Darker mossy green on hover */
}

/* Style the container to align the buttons properly */
.centered-button-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Center buttons horizontally */
  justify-content: center; /* Center buttons vertically if the container has a specific height */
  width: 100%; /* Full width of the parent */
}