/* StudentPortal.css */
.student-portal-container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #666; /* Matching the color of .h2 */
  }
  
  .content {
    font-size: 1rem; /* Matching the font-size of .h2 */
    margin-top: 20px;
  }
  
  .content p {
    margin: 10px 0;
  }
  
  /* Button styles */
  .button-container {
    margin-top: 20px;
  }
  
  .button-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem; /* Matching the font-size of .h2 */
    transition: background-color 0.2s ease-in-out;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }
  
  /* Game link styles */
  .game-link {
    margin-top: 30px;
  }
  
  .game-link a {
    text-decoration: none;
    color: #333; /* Adjust link color */
    display: inline-block;
  }
  
  .game-link img {
    width: 100px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
  }
  
  .game-link p {
    font-size: 1.2rem; /* Adjust font size */
  }
  