/* ViewPDF.css */

.pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5; /* Slightly off-white background for the container */
}

.community-header{
padding: 10px 20px; /* Padding around text */
color:black;
font-family: Inter;
font-style: normal;
text-align: center; /* Center text within button */
font-size: 40px; /* Size of the text */

}






.pdf-item {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  text-align: center; /* Center the text and button */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Align children to the center horizontally */
}






.pdf-item strong {
  margin-right: 5px;
}

.pdf-item button {
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;

  color: white;
  border: none;
  border-radius: 4px;
  align-self: center; /* Align button to the center of the item */
}



.community-button {
  font-family: Inter;
  font-style: normal;
  background-color: #6c7c3b; /* Mossy green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding around text */
  margin: 10px 0; /* Adds space between buttons */
  border: none; /* No border */
  border-radius: 5px; /* Slightly rounded edges */
  text-align: center; /* Center text within button */
  display: block; /* Display as a block to fill the container width */
  font-size: 16px; /* Size of the text */
  cursor: pointer; /* Change mouse cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
  text-decoration: none; /* Remove underline from links if buttons are <a> tags */
  width: 80%; /* Width of button, adjust as needed */
  box-sizing: border-box; /* Include padding and border in the element's total width and 
}
  
.community-button:hover {
  background-color: #768948; /* Darker mossy green on hover */
}






.pdf-item button:hover {
  background-color: #00b321;
}